// Main background
$dark-blue-900: hsl(217, 54%, 11%);
// Card background
$dark-blue-800: hsl(216, 50%, 16%);
// line color
$dark-blue-700: hsl(215, 32%, 27%);

// Text Colors
$soft-blue: hsl(215, 51%, 70%);
$cyan: hsl(178, 100%, 50%);

// Font stack
$font-stack: "Outfit", sans-serif;

// Card max width
$card-width: 380px;

// Border radius
$br-10: 10px;
$br-15: 15px;
