* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 16px;
  color: #adadad;
  background-color: #f7f7f7;
}

img {
  width: 100%;
}

a {
  color: #333;
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  color: #3b3b3b;
}

.container {
  max-width: 1170px;
  margin: 0 auto 2rem;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-dark {
  display: inline-block;
  background-color: #3b3b3b;
  color: #fff;
  margin-top: 1.5rem;
}

#projects {
  padding: 2rem;
}

#projects header {
  text-align: center;
  padding: 3rem 1rem;
  margin-bottom: 2rem;
}

#projects h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#projects h1 span {
  color: #adadad;
}

#projects header p a {
  text-decoration: underline;
  font-weight: bold;
}

#projects header p a:hover {
  color: #adadad;
  text-decoration: none;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
}

.project-card-img {
  width: 95%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  z-index: 1;
  transition: 0.4s ease;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 9px 25px 0px;
}

.project-card-img a {
  display: block;
  line-height: 0;
}

.project-card-img img {
  height: 240px;
  object-fit: cover;
}

.project-card:hover .project-card-img {
  transform: scale(1.02);
  box-shadow: rgba(149, 157, 165, 0.4) 0px 8px 24px;
}

.project-card .project-card-content {
  position: relative;
  background-color: #fff;
  padding: 1.5rem 1rem 0.5rem;
  border-radius: 8px;
  margin-top: -20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.project-card .project-card-content h2 {
  font-size: 1.1rem;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 0.5rem;
}

.project-card-content p {
  color: #adadad;
  font-size: 0.9rem;
  margin: 0.5rem 0;
}

.project-card .tags {
  list-style-type: none;
  display: flex;
  margin: 0.75rem 0;
}

.project-card .tags li {
  font-size: 12px;
  font-weight: 600;
  color: rgb(85, 85, 85);
  padding: 0.3rem 0.8rem;
  margin-right: 0.5rem;
  background-color: #eeeeee;
  border-radius: 20px;
}

/* Footer */
footer {
  font-size: 0.9rem;
  text-align: center;
  padding: 1.5rem;
}

@media (max-width: 580px) {
  #projects h1 {
    font-size: 2.2rem;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }
}
