* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
  line-height: 1.7;
  color: hsla(0, 0%, 100%, 0.75);
  background-color: hsl(233, 47%, 7%);
  height: 100vh;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1,
h2,
h3,
h4 {
  font-family: "Inter", sans-serif;
  color: #fff;
  line-height: 1.2;
}

.stats-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  max-width: 1280px;
  border-radius: 10px;
  overflow: hidden;
  background-color: hsl(244, 38%, 16%);
}

.stats-card-content {
  padding: 5.5rem 8rem 5.5rem 5.5rem;
}

.stats-card-content h1 {
  font-size: 2.5rem;
  margin-bottom: 1.8rem;
}

.stats-card-content h1 span {
  color: hsl(277, 64%, 61%);
}

.stats-card-content .stats-info {
  display: flex;
  justify-content: space-between;
  margin-top: 5.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.stats-card-content .stats-info h2 {
  margin-bottom: 0.5rem;
}

.stats-card-img {
  position: relative;
  background: url("images/image-header-desktop.jpg") no-repeat right center /
    cover;
  height: 100%;
  width: 100%;
}

.stats-card-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: hsl(278deg 100% 21% / 62%);
}

@media (max-width: 600px) {
  body {
    height: auto;
  }
  .stats-card {
    grid-template-columns: 1fr;
    margin: 1.5rem;
  }

  .stats-card-content {
    padding: 2rem 2rem 0;
    text-align: center;
  }

  .stats-card-content h1 {
    font-size: 1.8rem;
  }

  .stats-card-content .stats-info {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 1.8rem;
  }

  .stats-card-content .stats-info div {
    margin-bottom: 1.8rem;
  }

  .stats-card-img {
    height: 300px;
    order: -1;
  }
}
